[submodule "Async"]
	path = Async
	url = https://github.com/DavenaHack/SeeSharper.Async.git
	branch = master
[submodule "DependencyInjection"]
	path = DependencyInjection
	url = https://github.com/DavenaHack/SeeSharper.DependencyInjection.git
	branch = master
[submodule "Instantiation"]
	path = Instantiation
	url = https://github.com/DavenaHack/SeeSharper.Instantiation.git
	branch = master
[submodule "IO"]
	path = IO
	url = https://github.com/DavenaHack/SeeSharper.IO.git
	branch = master
[submodule "Meta"]
	path = Meta
	url = https://github.com/DavenaHack/SeeSharper.Meta.git
	branch = master
[submodule "Reflection"]
	path = Reflection
	url = https://github.com/DavenaHack/SeeSharper.Reflection.git
	branch = master
[submodule "TypeProvider"]
	path = TypeProvider
	url = https://github.com/DavenaHack/SeeSharper.TypeProvider.git
	branch = master
[submodule "TypeResolver"]
	path = TypeResolver
	url = https://github.com/DavenaHack/SeeSharper.TypeResolver.git
	branch = master
[submodule]
	update = --init --recursive
